body{
    background: #fafafa;width: 100%;min-width: 1000px;
}
.topHeader{
    width: 100%;background: #fff;height: 88px;box-shadow: 1px 2px 6px #e1e1e1;z-index: 1;position: relative;
}
.topHeader .header{
    width: 1000px;margin: 0 auto;height: 88px;
}
.topHeader .header .logo{
    float: left;height: 63px;margin-top: 15px;width: 257px;
}
.topHeader .header .logo .index{
    background: url(https://login.jiuxian.com/img/header/left.jpg?version=20160401) no-repeat;width: 140px;float: left;height: 63px;margin: 0；
}
.topHeader .header .logo .index a{   
    display: block;height: 63px;
}
.topHeader .header .logo .topic{
    width: 117px;float: right;
}
.topHeader .header .logo .topic img{
    border: 0;
}
.topHeader .header .head-nav{
    width: 77px;height: 14px;line-height: 14px;float: right;display: inline;margin: 48px 0 0 20px;position: relative;cursor: pointer;z-index: 10;font-size: 12px;
}
.topHeader .header .head-nav .head-icon{
    height: 14px;position: relative;z-index: 2;
}
.topHeader .header .head-nav .head-icon span{
    float: left;display: inline-block;color: #666;margin-right: 6px;
}
.topHeader .header .head-nav .head-icon .sj{
    float: left;display: inline-block;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat 0 0;background-position: -23px 0;width: 15px;height: 14px;
}
.topHeader .header .head-nav .head-pop{
 display: none; position: absolute;border: 1px solid #ccc;top: -6px;left: -10px;width: 85px;z-index: 1;padding-top: 26px;
}
.topHeader .header .head-nav .head-pop li{
    border-top: 1px dotted #ccc;padding-left: 10px;height: 24px;line-height: 24px;background: #fff;
}
.topHeader .header .head-nav .head-pop li a {
    color: #999;
}
.topHeader .header .head-nav .head-pop li a:hover{
    text-decoration: underline;
} 
.topHeader .reg{
    float: right;color: #999;margin-top: 48px;line-height: 14px;height: 14px;font-size: 12px;
}
.topHeader .reg a {
    color: #0066cc;margin-left: 20px;
}
/* 内容区 */
.main-bg{
    width: 100%;padding: 0 0 50px;height: auto;
}
.main-bg .firmPersonalBox{
    width: 1000px;margin: 0 auto;height: 34px;position: relative;
}
.main-bg .firmPersonalBox .regTitBox{
    top: 0;width: 280px;height: 34px;position: absolute;right: 15px;
}
.main-bg .firmPersonalBox .regTitBox .regTit{
    float: right;cursor: pointer;display: inline-block;height: 34px;line-height: 34px;color: #fff;font-size: 14px;border: 2px solid #ff9999; border-top-left-radius: 5px;border-top-right-radius: 5px;background: #ff9900;margin-left: 6px;vertical-align: top;border-bottom: none;padding: 0 15px;
}
.main-bg .firmPersonalBox .regTitBox .on{
    height: 35px;border:2px solid #eaeaea; background: #fff;margin-bottom: -3px;position: relative;border-bottom: none;color: #ff9900; 
}
.main-bg  .main{
    margin: 0 auto; width: 1000px
}
.main-bg  .main .firmRegMain{
    width: 994px;margin: 0 auto;border: 3px solid #eaeaea;box-shadow: 2px 5px 10px -4px #eaeaea;color: #000;
}
.main-bg .main .firmRegMain .mainBox{
    padding: 70px 50px;background: #fff;
}
.main-bg .main .firmRegMain .mainBox .accountInfo{
    border-bottom: 1px dashed #eaeaea;margin-bottom: 35px;
}
.main-bg .main .firmRegMain .mainBox .accountInfo .impotFont{
    font-size: 18px;color: #333;margin-left: 35px;font-weight: bold;
}
.main-bg .main .firmRegMain .mainBox .accountInfo .tipFont{
    color: #ff9800;font-size: 12px;height: 60px;line-height: 60px;
}
.main-bg .main .firmRegMain .mainBox .ln_addressTr{
    height: 42px;margin-bottom: 15px;
}
.main-bg .main .firmRegMain .mainBox .ln_addressTr span{
    display: inline-block;color: #666;float: left;
}
.main-bg .main .firmRegMain .mainBox .ln_addressTr .ln_addressTrTit{
    font-size: 16px;width: 84px;text-align: right;height: 40px;line-height: 40px;display: inline-block;margin-right: 17px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox{
    border: 1px solid #e4e4e4;display: inline-block;width: 380px;position: relative;background: #fff;height: 40px;float: left;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .borderReds{
    border: 1px solid #ff6666;
}
.main-bg .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmRegIcon{
    background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat;width: 20px;height: 20px;display: inline;margin: 10px 10px 0 20px;float: left;overflow: hidden;
}
.main-bg .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmAccount{
    background-position: -51px 0;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr input{
    height: 40px;line-height: 40px;color: #999;border: 1px solid #dcdcdc;font-size: 16px;vertical-align: middle; outline: none;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .qjwSubmit4{
    position: relative;z-index: 2;background: none;border: none;float: left;width: 297px;font-weight: bold;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .errorIcon{
    float: left;width: 18px;height: 40px;margin-right: 15px;background-position: 0 8px;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr  .st{
    background-position: -160px 13px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .clear{
    clear: both;font-size: 0;line-height: 0;height: 0;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .errorFontTip{
    z-index: 4;position: absolute;bottom: -16px;right: -1px;height: 20px;line-height: 20px;color: #fff;padding: 0 12px;font-size: 12px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .commonTip{
    color: #ff9800;display: inline-block;height: 40px;line-height: 55px;font-size: 24px;vertical-align: top;margin-left: 15px;float: left;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmEmail{
    background-position: -230px 4px ;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .errorBgPea{
    background: #ed787f;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmPassword{
    background-position: -81px 0
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .strength{
    float: left;padding: 10px 0 0 10px;height: 32px;width: 100px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .strength b{
    float: left;display: inline-block;font-size: 12px;margin-top: 8px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .strength i{
    float: left;display: inline-block;margin: 0 5px;width: 44px;height: 22px;overflow: hidden;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png)no-repeat 0 0;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .strength .strength1{
    background-position: -222px -99px 
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmIphone{
    height: 27px;background-position: -263px 1px;margin-bottom: 4px;margin-top: 8px;
} 
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmTel{
    background-position: -298px 1px;height: 23px;margin-bottom: 7px;margin-top: 8px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmCompany{
    background-position: -326px 0;margin-right: 4px;width: 26px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .drop_text{
    margin-top: 7px;margin-right: 14px;width: 114px;border: 1px solid #e4e4e4;padding: 4px 5px; vertical-align:middle;overflow: visible !important
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .drop_text option{
    font-weight: normal;display: block;white-space: pre;min-height: 1.2rem;padding: 0 2px 1px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmAddress{
    background-position: -363px 0;height: 25px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmBox .firmCheckIt{
    background-position: -425px 0;height: 25px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .ifrmCheckCode{
    border: none;outline: none;float: left;font-size: 14px;font-weight: bold;color: #999;height: 40px;line-height: 40px;width: 200px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmCheckImg{
    float: left;display: inline-block;padding-top: 4px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmCheckImg img{
    width: 74px;height: 34px;
}
.main-bg  .main .firmRegMain .mainBox .ln_addressTr .firmCheckMore{
    width: 29px;height: 29px;background-position: -187px 0;float: left;display: inline;margin-top: 8px;cursor: pointer;margin-left: 16px;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat;
}
.main-bg  .main .firmRegMain .mainBox .firmAgreement{
    padding-left: 101px;
}
.main-bg  .main .firmRegMain .mainBox .firmAgreement input{
    border: none;
}
.main-bg  .main .firmRegMain .mainBox .firmAgreement span{
    margin-left: 10px;color: #999;font-size: 12px 
}
.main-bg  .main .firmRegMain .mainBox .firmAgreement span a{
    color: #0066cc;
} 
.main-bg  .main .firmRegMain .mainBox .firmAgreement .errorFontTip{
    color: rgb(204, 0, 0);font-size: 12px;
}
.main-bg  .main .firmRegMain .mainBox .firmSubmit{
    padding-left: 101px;
}
.main-bg  .main .firmRegMain .mainBox .firmSubmit input{
    width: 305px;height: 42px;background: #e10303;border: medium none;border-radius: 2px;color: #fff;cursor: pointer;font-size: 18px;
}
/* 结尾部分 */
.footer{
    height: 90px;width: 100%;padding: 10px 0 0 ;
}
.footer .foot{
    width: 1000px;margin: 0 auto;text-align: center;
}
.footer .foot p{
    line-height: 30px;color: #333;font-size: 12px;
}
.footer .foot p a{
    color: #666;
}
.footer .foot .bottom{
    color: #f00;
}
