body{
    background: #fafafa;width: 100%;min-width: 1000px;
}
.topHeader{
    width: 100%;background: #fff;height: 88px;box-shadow: 1px 2px 6px #e1e1e1;z-index: 1;position: relative;
}
.topHeader .header{
    width: 1000px;margin: 0 auto;height: 88px;
}
.topHeader .header .logo{
    float: left;height: 63px;margin-top: 15px;width: 257px;
}
.topHeader .header .logo .index{
    background: url(https://login.jiuxian.com/img/header/left.jpg?version=20160401) no-repeat;width: 140px;float: left;height: 63px;margin: 0；
}
.topHeader .header .logo .index a{   
    display: block;height: 63px;
}
.topHeader .header .logo .topic{
    width: 117px;float: right;
}
.topHeader .header .logo .topic img{
    border: 0;
}
.topHeader .header .head-nav{
    width: 77px;height: 14px;line-height: 14px;float: right;display: inline;margin: 48px 0 0 20px;position: relative;cursor: pointer;z-index: 10;font-size: 12px;
}
.topHeader .header .head-nav .head-icon{
    height: 14px;position: relative;z-index: 2;
}
.topHeader .header .head-nav .head-icon span{
    float: left;display: inline-block;color: #666;margin-right: 6px;
}
.topHeader .header .head-nav .head-icon .sj{
    float: left;display: inline-block;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat 0 0;background-position: -23px 0;width: 15px;height: 14px;
}
.topHeader .header .head-nav .head-pop{
 display: none; position: absolute;border: 1px solid #ccc;top: -6px;left: -10px;width: 85px;z-index: 1;padding-top: 26px;
}
.topHeader .header .head-nav .head-pop li{
    border-top: 1px dotted #ccc;padding-left: 10px;height: 24px;line-height: 24px;background: #fff;
}
.topHeader .header .head-nav .head-pop li a {
    color: #999;
}
.topHeader .header .head-nav .head-pop li a:hover{
    text-decoration: underline;
} 
.topHeader .reg{
    float: right;color: #999;margin-top: 48px;line-height: 14px;height: 14px;font-size: 12px;
}
.topHeader .reg a {
    color: #0066cc;margin-left: 20px;
}
/* 内容区 */
.regBg{
    background: url(https://login.jiuxian.com/img/reg/bg.jpg) repeat-x scroll left top;width: 100%;padding: 70px 0 50px;height: 600px;font-size: 12px;
}
.regBg .main{
    width: 1000px;margin: 0 auto;
}
.regBg .main .content{
    background: #fff;border: 3px solid #eaeaea;border-radius: 5px;box-shadow: 1px 6px 11px #e4e4e4;height: 500px;position: relative;
}
.regBg .main .content .regBox{
    height: 450px;width: 994px;position: relative;
}
.regBg .main .content .regBox .regTitBox{
    width: 280px;height: 34px;position: absolute;right: 15px;top: -37px;
}
.regBg .main .content .regBox .regTitBox .regTit{
    float: right;cursor: pointer;display: inline-block;height: 34px;line-height: 34px;color: #fff;font-size: 14px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #ff9900;margin-left: 6px;vertical-align: top;border-bottom: none;padding: 0 15px;
}
.regBg .main .content .regBox .regTitBox .on{
    height: 35px;border:2px solid #eaeaea; background: #fff;margin-bottom: 3px;position: relative;border-bottom: none;color: #ff9900; 
}
.regBg .main .content .regBox .regConWrap{
    height: 500px;width:994px; overflow: hidden;position: relative;
}
.regBg .main .content .regBox .regConWrap ul{
    height: 450px;width: 2000px
}
.regBg .main .content .regBox .regConWrap .regCon{
    width: 784px;padding: 26px 0 0 125px;float: left;
}
.regBg .main .content .regBox .regConWrap .regCon .accountInfo{
    border-bottom: 1px dashed #eaeaea;margin-bottom: 35px;
}
.regBg .main .content .regBox .regConWrap .regCon .accountInfo .impotFont{
    font-size: 18px;color: #333;margin-left: 35px;font-weight: bold;
}
.regBg .main .content .regBox .regConWrap .regCon .accountInfo .tipFont{
    color: #ff9800;font-size: 12px;height: 60px;line-height: 60px;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr{
    height: 42px;margin-bottom: 15px;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr span{
    display: inline-block;color: #666;float: left;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .ln_addressTrTit{
    font-size: 16px;width: 84px;text-align: right;height: 40px;line-height: 40px;display: inline-block;margin-right: 17px;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .firmBox{
    border: 1px solid #e4e4e4;display: inline-block;width: 380px;position: relative;background: #fff;height: 40px;float: left;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .firmRegIcon{
    background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat;width: 20px;height: 20px;display: inline;margin: 10px 10px 0 20px;float: left;overflow: hidden;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .firmAccount{
    background-position: -51px 0;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr input{
    height: 40px;line-height: 40px;color: #999;border: 1px solid #dcdcdc;font-size: 16px;vertical-align: middle;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .qjwSubmit4{
    position: absolute;z-index: 2;background: none;border: none;float: left;width: 297px;font-weight: bold;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .errorIcon{
    float: left;width: 18px;height: 40px;margin-right: 15px;background-position: 0 8px;background: url(https://login.jiuxian.com/img/reg/regLogin-8.png) no-repeat;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .st{
    background-position: -160px 13px;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .clear{
    clear: both;font-size: 0;line-height: 0;height: 0;
}
.regBg .main .content .regBox .regConWrap .regCon .ln_addressTr .errorFontTip{
    z-index: 4;position: absolute;bottom: -16px;right: -1px;height: 20px;line-height: 20px;color: #fff;padding: 0 12px;
}
/* 结尾部分 */
.footer{
    height: 90px;width: 100%;padding: 10px 0 0 ;
}
.footer .foot{
    width: 1000px;margin: 0 auto;text-align: center;
}
.footer .foot p{
    line-height: 30px;color: #333;font-size: 12px;
}
.footer .foot p a{
    color: #666;
}
.footer .foot .bottom{
    color: #f00;
}
