
@import "_mixin.scss";

$color:#ddd;
body{
    background:$color - 10;
    color: $color
}

// .box{
//     width: 100px;
//     height: 100px;
//     background: #222;
//     @include transform(rotate(30deg));
//     @include transition;
// }
// .box2{
//     width: 200px;
//     height: 200px;
//     background: goldenrod;
//     @include transform(rotate(60deg));
//     @include transition(all .8s)
// }
$rootSize:10;
@function pxToRem($px){
    @return $px / $rootSize* 1rem;
}

.box{
    width: 100px;
    height: 100px;
    background: #000;
    span{
        color: #ff0022;
        text-align: center; 
    }
    strong{
        color: sandybrown
    }
    &:hover{
        @include transition;
        @include transform(rotate(60deg))
    }
}
.box2{
    width: pxToRem(100);
    height: pxToRem(100);
    background: blueviolet
}

$list : (box1 10px) (box2 20px) (box2 25px);

// @each $class,$size in $list {
//     //变成类名
//     .#{$class}{
//         font-size: $size;
//     }
// }
.box{
    span{
        font-size: 10px;
        @at-root strong{
            font-size: 20px;
        }
    }
}
.box2{
    @extend .box
}
p{
    background: #ff0022
}
.box3{
    height: 50px;
    width: 50px;
    background: #ff0022;
    color: gold
}
.box4{
    width: 40px;
    height: 50px;
    background: #aeaeae;
}